# app
NODE_ENV='development'
LOG_MISSING_CONFIGURATIONS=true
# Is actually isProducation
FAIL_ON_MISSING_CONFIGURATIONS=false
CONFIG_SALT=''
AUTO_DELETE_TEMP_FILES=true

# logging
LOGGING_LEVEL='info'
# Is actually LOGGING_LEVEL
LOGGING_LEVEL_FOR_FILE='info'
# Is actually LOGGING_LEVEL
LOGGING_LEVEL_FOR_CONSOLE='info'
# Is actually isProducation
LOGGING_LOG_JSON=false
WORKING_TEMP_DIRECTORY='tmp'
WEBWORK_FILE_LOCATION='../core/test-webwork-files'
